body {
	background: url(../images/jimjeff.jpg) no-repeat center center fixed;
	background-size: cover;
	font-weight: bold;
	color:black;
}
h1 {
	text-align: center;
	color:#e6c300;
}
.iscorrect{
	font-size:25px;
	color: #00134d;
	padding:20px;
}	
.startbtn{
	font-size:25px;
	text-align: center;
	color: #e6c300;
	background-color: #00134d; 
	width :200px;
	padding:20px;
	position:relative;
	top: 150px;
    left: 260px;
}
.fulltimer{
	margin-top: 5px;
	color:#00134d;
}
.container {
	

	background-color: #e6c300;
	margin-top: 200px;
	height:389px;
	border:2px solid #00134d;

}
.row{
	text-align: center;
}
.main{

}	
.main::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}
.question{

	color:#e6c300;
	background-color: #00134d;
	padding:10px;
	margin:0 auto;	
	width:80%;

}
.gif{
	height:200px;
	width:250px;
}
.answerbtn{
	clear: both;
	float: left;
	width: 70%;
	margin-left: 15%;
	margin-top: 10px;
	color:#e6c300;
	background-color: #00134d;
	padding:7px;
	font-weight: bold

}
.restartbtn{
	font-size:25px;
	text-align: center;
	color: #e6c300;
	background-color: #00134d; 
	width :200px;
	padding:20px;
}
.para{
	color:#00134d;
	font-size:20px;
	padding:10px;
}